@import "login-form";

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/assets/images/bg-login.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    background-position: center;
    height: 550px;
    width: 211px;
    padding: 30px 70px;

    .logo {
        width: 100px;
        height: 25%;
        margin-bottom: 2.5rem;
    }

    .orange-bird {
        background: url('assets/images/bird-orange.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}