@import "login-form";

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgb(84, 78, 89) 0%, rgb(122, 118, 126) 100%);
    border-radius: 30px;
    color: white;
    padding: 60px 40px;

    .logo {
        width: 100px;
        margin-bottom: 2.5rem;
    }

    .orange-bird {
        background: url('assets/images/bird-orange.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}