@import "utility";
@import "fonts";
@import "custom-checkbox";
@import "login";

html, body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

main {
    .dom-container{
        font-family: "Open Sans", sans-serif;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100vh;
        z-index: 1;
    }

    .canvas-container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 0;
    }
}

